---
layout: default
---

<div class="home">

  <section class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            {{ site.title}}
          </h1>
          <h2 class="subtitle">
            {{ site.description }}
          </h2>
        </div>
      </div>
    </section>

  {{ content }}

  <section class="section">
    {%- if site.posts.size > 0 -%}
    <!-- <h2 class="title is-3 has-text-centered">{{ page.list_title | default: "Latest Posts" }}</h2> -->
    <ul class="columns is-centered is-multiline">
      {%- for post in site.posts -%}
      <li class="column is-one-third">

        {%- if post.categories contains "events" -%}
        <!-- event -->
        <div class="card">
          {%- if post.images -%}
          <div class="card-image">
            <figure class="image">
              <img src="{{ post.images.first | relative_url }}" alt="">
            </figure>
          </div>
          {%- endif -%}
          <div class="card-content">
            <div class="content">
              <a href="{{ post.url | relative_url }}">
                <h4 class="is-title is-4">{{ post.title | escape }}</h4>
              </a>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
              {% comment %}
              {%- if post.eventtime -%}
              <p class="">{{ post.eventtime }}</p>
              {%- endif -%}
              {%- if post.venue -%}
              <p class="">{{ post.venue }}</p>
              {%- endif -%}
              {% endcomment %}
            </div>
          </div>
          <footer class="card-footer">
              <div class="card-footer-item">
                  <a href="{{ post.url | relative_url }}" class="button is-link">More details</a>
              </div>
            </footer>
        </div>
        {%- endif -%}

        {%- if post.categories contains "blog" -%}
        <!-- blog -->
        <div class="card">
          <header class="card-header">
            
          </header>
          {%- if post.images -%}
          <div class="card-image">
            <figure class="image">
              <img src="{{ post.images.first | relative_url | default: '/assets/uploads/blog-placeholder.jpeg' | relative_url }}" alt="">
            </figure>
          </div>
          {%- endif -%}
          <div class="card-content">
            <div class="content">
              <a href="{{ post.url | relative_url }}">
                <h4 class="is-title is-4">{{ post.title | escape }}</h4>
              </a>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="">{{ post.date | date: date_format }}</span>
              
              {%- if site.show_excerpts -%}
                {{ post.excerpt }}
              {%- endif -%}
            </div>
          </div>
          <footer class="card-footer">
            <div class="card-footer-item">
                <a href="{{ post.url | relative_url }}" class="button">Read</a>
            </div>
          </footer>
        </div>
        {%- endif -%}


      </li>
      {%- endfor -%}
    </ul>

    
    {%- endif -%}
  </section>

</div>
