---
layout: default
---
<article class="container post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header has-text-centered">
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="post-title p-name title is-2" itemprop="name headline">{{ page.title | escape }}</h1>
          {%- if page.categories contains "blog" -%}
          <p class="subtitle post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              {{ page.date | date: date_format }}
            </time>
            {%- if page.author -%}
              • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
            {%- endif -%}
          </p>
          {%- endif -%}

          {%- if page.venue -%}
            <p>Venue: {{ page.venue }}</p>
          {%- endif -%}

          {%- if page.eventtime -%}
            <p>Date: {{ page.eventtime }}</p>
          {%- endif -%}

        </div>
      </div>
    </section>
  </header>
  
  <div class="content post-content e-content columns is-centered is-mobile is-multiline" itemprop="articleBody">
    <div class="column is-8-tablet article-image has-background is-11-mobile">
      {%- if page.showimageinpost and page.images -%}
      {%- if page.images.size > 1 -%}
        <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
          <div class='carousel-container'>
            {%- for image in page.images -%}
            <div class='carousel-item has-background is-active'>
              <img class="image is-background" src="{{ image | relative_url }}" alt=""/>
            </div>
            {%- endfor -%}
          </div>
          <div class="carousel-navigation is-centered">
            <div class="carousel-nav-left">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="carousel-nav-right">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      {%- else -%}
        <div class="image">
          <img src="{{ page.images.first | relative_url }}" alt="Image">
        </div>
      {%- endif -%}
      {%- endif -%}
    </div>
    <div class="column is-10">
        {{ content }}
    </div>
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
